:root {
    /* change the values below to your colors from your palette */
    --primary-color: #0c94fc  ;
    --secondary-color: #fdfdfdfa ;
    --accent1-color: #89073bd2 ;
    --accent2-color: rgb(94, 95, 96);
  
    /* change the values below to your chosen font(s) */
  
    --heading-font: "Anta" ;
    --paragraph-font: "Kode Mono", sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #032640;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #020203; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #396E94  ;
    --nav-link-color: #396E94;
    --nav-background-color: #d3d2d2;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;
  }

  body {
    margin: 0 auto;
    font-size: 18px;
  }

  header{
    display: grid;
    grid-template-columns: 150px auto;
}

  header {
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  nav a {
  
    color: white;
    text-align: center;
    padding: 10px 20px; 
    text-decoration: none;
    font-size: 1.2em;
  }
  
  nav a:hover {
    color: white;
    background-color: var(--headline-color-on-white);
    padding: 10px 15px;
  }


  #logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

  .cyberlogo{
    width: 80px;
    border-radius: 50px;
    padding: 5%;
  }

  

  main{
    margin: 0 auto;
    font-size: 18px;
    text-align: left;
  }

  p {
    font-family: var(--paragraph-font);
    padding: 20px 30px;
  }

  

  footer{
    background-color: #396E94;
    color: white;
    margin-top: 100px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  
  footer p{
    color: white;
  }
  
  footer a{
    color: white;
    text-decoration: none;
  }
  
  footer p a{
    padding: 5px;
  }
  
  footer p a:hover{
    color:#4a8bba;
  }
  
  footer .social img{
    padding: 5px;
  }
  
  footer .social {
    display: flex;
    justify-content: space-around;
  }
  
  footer p .copy{
    font-size: small;
  }
  